Using MySQL
----------------

This file shows an example of using MySQL in Python. The version of MYSQl I am using is XAMPP on Windows, and the connector I am using is mysqlclient. 


The connector turned out to be a real bitch to install -- there was some problem with having the wrong version of MS Visual studio C++ 14.0 (which I then installed, very painstakingly, only to be told there was now some problem with cl.exe. This answer worked: http://stackoverflow.com/questions/26866147/mysql-python-install-fatal-error - download the mysqlclient-1.3.9-cp35-cp35m-win_amd64.whl file from the site (takes a while), navigate to the folder you placed it in and install with pip. Then restart.


The database I am using can be found at http://localhost/phpmyadmin. Remember to start the server and database first from the xampp control panel!

In [9]:
import _mysql
db=_mysql.connect(user="root",passwd="",db="test")

**Show all tables**

In [44]:
db.query("""SHOW TABLES""")
r=db.store_result()
r.fetch_row(maxrows=0)

((b'animals',),)

**Show all records in table**

In [47]:
db.query("""SELECT * FROM animals`""")
r=db.store_result()
r.fetch_row(maxrows=0)

((b'Cat', '12', b'Henry', b'Orange'),
 (b'Dog', '3', b'Simon', b'Black'),
 (b'Parrot', '4', b'Alice', b'Green'))

**Select a column in table and read all values**

In [46]:
db.query("""SELECT type FROM animals""")
r=db.store_result()
r.fetch_row(maxrows=0)

((b'Cat',), (b'Dog',), (b'Parrot',))

**Select all database based on some criteria**

In [49]:
db.query("""SELECT * FROM animals WHERE age>3""")
r=db.store_result()
r.fetch_row(maxrows=0)

((b'Cat', '12', b'Henry', b'Orange'), (b'Parrot', '4', b'Alice', b'Green'))

**Insert row into database**

In [52]:
db.query("""INSERT INTO animals (type, age, name, colour) VALUES ('Monkey', '7', 'Becky', 'Brown')""")

In [ ]:
import