Interfacing with MongoDB via Python's PyMongo
===================

MongoDB is a popular NoSQL document-based database.

We will be interfacing with it using PyMongo, following this tutorial: https://docs.mongodb.com/getting-started/python/client/

Before using this notebook, please ensure that you have installed and setup MongoDB (instructions provided in "Using MongoDB.docx")

Also, you should have at least one terminal open, running "mongod.exe", as described in the Word document

In [4]:
"""
Import PyMongo and connect to the required instance of MongoDB
"""
from pymongo import MongoClient

# Create a connection
# After running this cell, you should see a line like 
# "[initandlisten] connection accepted from 127.0.0.1:58710 #7 (2 connections now open)"
# appear on the command prompt
client = MongoClient()

# The line above defaults to a MongoDB instance that runs on the localhost interface on port 27017
# If, for example, we wanted to connect to an instance running on mongodb0.example.net on port 27017:
#client = MongoClient("mongodb://mongodb0.example.net:27017")

In [5]:
"""
Access database objects

Note that MongoDB creates new databases implicitly when they are first used.
"""

# Create/access a database called "primer"
db = client.primer

# Create/access a collection within primer
# We use dictionary notation below, but db.dataset is equivalent
coll = db['dataset']

In [7]:
"""
Insert data with PyMongo
"""
from datetime import datetime

result = db.restaurants.insert_one(
    {
        "_id": 'CCCCCC-111111-222222-EEEEEE',
        "address": {
            "street": "3 Avenue",
            "zipcode": "10075",
            "building": "1480",
            "coord": [-73.9557413, 40.7720266]
        },
        "borough": "San Francisco",
        "cuisine": "Chinese",
        "grades": [
            {
                "date": datetime.strptime("2014-04-01", "%Y-%m-%d"),
                "grade": "A+",
                "score": 16
            },
        ],
        "name": "Mama Ji's",
        "restaurant_id": "41704620"
    }
)

print(result.inserted_id)

DuplicateKeyError: E11000 duplicate key error collection: primer.restaurants index: _id_ dup key: { : "CCCCCC-111111-222222-EEEEEE" }

In [8]:
"""
Find or query data with pymongo
"""

# Find all documents in database
print('ALL DOCUMENTS')
cursor = db.restaurants.find()
for document in cursor:
    print('-'*90)
    print(document)
print('='*90)
    
# IF: Find all documents with a score > than 10
print('SCORE > 10')
cursor = db.restaurants.find({"grades.score": {"$gt": 10}})
for document in cursor:
    print('-'*90)
    print(document)
print('='*90)

# AND: Find all Chinese restaurants with a score < 10
print('CHINESE and SCORE < 10')
cursor = db.restaurants.find({"grades.score": {"$lt": 10}, "cuisine": "Chinese"})
for document in cursor:
    print('-'*90)
    print(document)
print('='*90)

# OR: Find all restaruants that have a score > 12 or are italien

print('ITALIEN or SCORE > 12')
cursor = db.restaurants.find({"$or": [{"grades.score": {"$gt": 12}}, {"cuisine": "Italian"}]})
for document in cursor:
    print('-'*90)
    print(document)
print('='*90)

ALL DOCUMENTS
------------------------------------------------------------------------------------------
{'_id': 'AAAAAA-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '2 Avenue'}, 'name': 'Vella', 'cuisine': 'Italian', 'restaurant_id': '41704620', 'borough': 'Manhattan', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}]}
------------------------------------------------------------------------------------------
{'_id': 'BBBBBB-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '3 Avenue'}, 'name': 'City Kitchen', 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'borough': 'Boston', 'grades': [{'date': datetime.datetime(2014, 4, 1, 0, 0), 'grade': 'C', 'score': 7}]}
------------------------------------------------------------------------------------------
{'_id': 'CCCCCC-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '3 Avenue'}, 'name': "Mama Ji's", 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'borough': 'San Francisco', 'grades': [{'date': datetime.datetime(2014, 4, 1, 0, 0), 'grade': 'A+', 'score': 16}]}
==========================================================================================
SCORE > 10
------------------------------------------------------------------------------------------
{'_id': 'AAAAAA-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '2 Avenue'}, 'name': 'Vella', 'cuisine': 'Italian', 'restaurant_id': '41704620', 'borough': 'Manhattan', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}]}
------------------------------------------------------------------------------------------
{'_id': 'CCCCCC-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '3 Avenue'}, 'name': "Mama Ji's", 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'borough': 'San Francisco', 'grades': [{'date': datetime.datetime(2014, 4, 1, 0, 0), 'grade': 'A+', 'score': 16}]}
==========================================================================================
CHINESE and SCORE < 10
------------------------------------------------------------------------------------------
{'_id': 'BBBBBB-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '3 Avenue'}, 'name': 'City Kitchen', 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'borough': 'Boston', 'grades': [{'date': datetime.datetime(2014, 4, 1, 0, 0), 'grade': 'C', 'score': 7}]}
==========================================================================================
ITALIEN or SCORE > 12
------------------------------------------------------------------------------------------
{'_id': 'AAAAAA-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '2 Avenue'}, 'name': 'Vella', 'cuisine': 'Italian', 'restaurant_id': '41704620', 'borough': 'Manhattan', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}]}
------------------------------------------------------------------------------------------
{'_id': 'CCCCCC-111111-222222-EEEEEE', 'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075', 'street': '3 Avenue'}, 'name': "Mama Ji's", 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'borough': 'San Francisco', 'grades': [{'date': datetime.datetime(2014, 4, 1, 0, 0), 'grade': 'A+', 'score': 16}]}
==========================================================================================

In [46]:
"""
Sort query results, first by score and then by name.
"""
import pymongo

cursor = db.restaurants.find().sort([
    ("score", pymongo.ASCENDING),
    ("name", pymongo.ASCENDING)
])
for document in cursor:
    print('-'*90)
    print(document)

------------------------------------------------------------------------------------------
{'grades': [{'grade': 'C', 'date': datetime.datetime(2014, 4, 1, 0, 0), 'score': 7}], 'name': 'City Kitchen', '_id': 'BBBBBB-111111-222222-EEEEEE', 'borough': 'Boston', 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'address': {'building': '1480', 'street': '3 Avenue', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075'}}
------------------------------------------------------------------------------------------
{'grades': [{'grade': 'A+', 'date': datetime.datetime(2014, 4, 1, 0, 0), 'score': 16}], 'name': "Mama Ji's", '_id': 'CCCCCC-111111-222222-EEEEEE', 'borough': 'San Francisco', 'cuisine': 'Chinese', 'restaurant_id': '41704620', 'address': {'building': '1480', 'street': '3 Avenue', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075'}}
------------------------------------------------------------------------------------------
{'grades': [{'grade': 'A', 'date': datetime.datetime(2014, 10, 1, 0, 0), 'score': 11}, {'grade': 'B', 'date': datetime.datetime(2014, 1, 16, 0, 0), 'score': 17}], 'name': 'Vella', '_id': 'AAAAAA-111111-222222-EEEEEE', 'borough': 'Manhattan', 'cuisine': 'Italian', 'restaurant_id': '41704620', 'address': {'building': '1480', 'street': '2 Avenue', 'coord': [-73.9557413, 40.7720266], 'zipcode': '10075'}}

In [31]:
"""
Update data with PyMongo
"""

True